{% extends "base.html" %}
{% block content %}
    <div class="content-section">
        <div class="media">
            <div class="media-body">
                <h2 class="account-heading">{{ user.username }}</h2>
                <p class="text-secondary">{{ user.email }}</p>
            </div>
        </div>
        
        <h3 class="mt-4">My Recipes</h3>
        <div class="row">
            {% for recipe in user.recipe_set.all %}
                <div class="col-md-6 mb-4">
                    <div class="card h-100">
                        <img src="{{ recipe.image.url }}" class="card-img-top" alt="{{ recipe.title }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ recipe.title }}</h5>
                            <p class="card-text">{{ recipe.description|truncatewords:20 }}</p>
                            <a href="{% url 'recipe-detail' recipe.slug %}" class="btn btn-sm btn-primary">View</a>
                            <a href="{% url 'recipe-update' recipe.slug %}" class="btn btn-sm btn-secondary">Edit</a>
                            <a href="{% url 'recipe-delete' recipe.slug %}" class="btn btn-sm btn-danger">Delete</a>
                        </div>
                    </div>
                </div>
            {% empty %}
                <div class="col-12">
                    <p>You haven't created any recipes yet.</p>
                    <a href="{% url 'recipe-create' %}" class="btn btn-primary">Create Recipe</a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
